@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
html, body, #root {
  height: 100%;
}
body {
  @apply bg-white text-black antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
}

.container-max {
  @apply max-w-6xl mx-auto px-4;
}
